@import "src/styles/variables/variables.scss";
.project {
  padding-bottom: 2rem;
  &.home {
    @include desktop {
      padding: 0 1.5rem 2rem 1.5rem;
    }
  }
  &__info {
    &-title {
      width: fit-content;
      color: $primary-dark;
      border-bottom: 2px solid $primary-dark;
      font-weight: bold;
      font-size: 1.5rem;
      border-radius: 5px;
      padding-bottom: 0.5rem;
      cursor: default;
      &.mt-2 {
        margin-top: 2rem;
      }
      &.home {
        margin-top: 0.5rem;
        width: 100%;
        font-size: 4rem;
        color: #030303;
        text-shadow: 1px 1px 0px $background;
        letter-spacing: 0.5rem;
        border-bottom: none;
        width: 100%;
        text-align: center;
        @include custom-desktop {
          font-size: 3rem;
        }
        @include mobile {
          font-size: 2rem;
          margin-bottom: 0;
        }
      }
    }
    &-container {
      width: 100%;
      max-width: 100%;
      position: relative;
      margin-top: 2rem;

      .project__info-container-item__link {
        text-align: justify;
        text-decoration: underline;
        width: fit-content;
        color: $title;
        font-size: 1rem;
        padding-bottom: 0.5rem;
        cursor: pointer;
        margin-top: 1rem;
        i {
          margin-left: 0.5rem;
        }
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .left {
    position: absolute;
    top: 50%;
    left: -1.25rem;
    cursor: pointer;
    color: $primary-dark;
    font-size: 1.5rem;
    @include mobile {
      left: -0.5rem;
      z-index: 2;
    }
  }

  .right {
    position: absolute;
    top: 50%;
    right: -1.25rem;
    cursor: pointer;
    color: $primary-dark;
    font-size: 1.5rem;
    @include mobile {
      right: -0.5rem;
      z-index: 2;
    }
  }

  .swiper-button-disabled {
    color: #d6d6d6;
    cursor: not-allowed;
  }
}

.principal-image {
  max-width: 100%;
  border-radius: 16px;
  position: relative;
  &__logo {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    &-container {
      padding: 1.5rem;
      background: rgb(0 0 0 / 60%);
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      align-items: center;
      justify-content: center;
      @include mobile {
        padding: 0.75rem;
      }
      img {
        max-width: 100px;
        @include mobile {
          max-width: 70px;
        }
      }
      &:hover {
        background: rgb(0 0 0 / 90%);
      }
    }
  }
}
