<ng-container *ngIf="{language: language$ | async} as info">

  <div class="experience">
      <div class="experience__info hide-on-init" animateOnScroll animationName="animate__animated">
        <h2 class="experience__info-title mt-2">{{title[info.language!]}}</h2>
        <ng-container *ngFor="let position of positions; let i = index">
        <div class="experience-card glass-panel hover-lift" [style.transition-delay]="(i * 100) + 'ms'">
          <h3 class="experience__info-subtitle">
            <i [class]="position.icon" aria-hidden="true"></i>
            {{position.company[info.language!]}}
            <span class="experience__info-subtitle-emphasis">{{position.period[info.language!]}}</span>
          </h3>
          <h4 class="experience__info-role">
            {{position.role[info.language!]}}
          </h4>
          <div class="experience__info-paragraph">
            {{position.description[info.language!]}}
          </div>
        </div>
        </ng-container>

      </div>
    </div>

</ng-container>
