@import "src/styles/variables/variables.scss";
:host {
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;

  section {
    display: flex;
    max-width: 100%;
    width: 100%;
    jdv-hero-section,
    jdv-services-section,
    jdv-grid-banners {
      margin: auto;
      display: block;
      max-width: 100%;
      width: 100%;
      background: $background-secondary;
      min-height: calc(100vh - 84px);
    }
    jdv-services-section {
      background: $background-alt;
    }
    &.skills {
      background: $title;
      padding: 2rem 0;
      flex-direction: column;
      jdv-skills {
        max-width: $max-width;
        margin: auto;
      }
      jdv-project {
        max-width: 100%;
        margin: auto;
        @media screen and (min-width: 1400px) {
          max-width: $max-width;
        }
        @include mobile {
          max-width: 100%;
          padding: 0 1rem;
        }
      }
    }
  }
}
