@import 'variables';

.works{
  width: 100%;
  max-width: 100%;
  section{
    display: flex;
    max-width: 100%;
    width: 100%;
    jdv-grid-banners{
      margin: auto;
      display: block;
      max-width: 100%;
      width: 100%;
      min-height: calc(100vh - 84px);
    }
  }
}
