@import "src/styles/variables/variables.scss";
@import "src/styles/mixins/mixins.scss";

.container__img {
  border-radius: 50%;
  border: 0.25rem solid $primary;
  width: 350px;
  height: 350px;
  @include backgroundEffect;
  @include mobile {
    width: 250px;
    height: 250px;
    margin: 1rem auto;
  }
  img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 0.5rem solid transparent;
    @include mobile {
      width: 250px;
      height: 250px;
    }
  }
}
